@model int 

<a class="nav-link text-dark" asp-area="" asp-controller="Carrinho" asp-action="Index">
    🛒 Carrinho 
    @if (Model > 0)
    {
        <span class="badge bg-danger">@Model</span>
    }
</a>